.code-row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}

.preprocessor pre {
    margin-right: 60px;
}

.preprocessor pre code {
    font-size: 22px; !important;
    line-height: 25px; !important;
    padding: 0 30px; !important;
}

.progress {
    height: 7px !important;
}

.slide-number {
    font-size: 35px !important;
}

.author {
    text-align: center;
}

.author small::first-letter {
    color: red;
}
