veg-names = 'melon', 'carrot', 'watermelon', 'kiwi', 'cucumber', 'pepper', 'tomato'
urls-img = 'https://pp.vk.me/c630125/v630125151/1ecc/wMTXhTawg8w.jpg',
        'https://pp.vk.me/c630125/v630125151/1ed6/frqxQ6oR6Ho.jpg',
        'https://pp.vk.me/c630125/v630125151/1eec/daAy02g-Fhc.jpg',
        'https://pp.vk.me/c630125/v630125151/1ec2/xmTB7Eq0e38.jpg',
        'https://pp.vk.me/c630125/v630125151/1eb9/Zgg2HCd0yi4.jpg',
        'https://pp.vk.me/c630125/v630125151/1ede/G-FVz0bas0c.jpg',
        'https://pp.vk.me/c630125/v630125151/1ee5/R4k4jbruF2A.jpg'
angle_limit = 40deg
angle_step = 5deg

prefix(prop, arg)
  -webkit-{prop} arg
  -moz-{prop} arg
  -o-{prop} arg

start_settings()
  for i in (0..length(veg-names) - 1)
    #img-{veg-names[i]}
      background: url(urls-img[i]) no-repeat
      prefix(background-size, 100%)

translate(trX, rotY)
  transform: rotateY(0) translateX(trX) perspective(300px) rotateY(rotY) translateZ(-40px)

sum_trX(count)
  sum = 0%
  if count <= 0
    sum
  else
    for $i in (0..count)
      sum += 30% + 10% * $i
    sum

abs(value)
  if value > 0
    value
  else
    - value

set_animation()
  $i = 0
  $j = 0

  startX = 300%
  stepX = 100%

  $angleY = -40deg

  for veg in veg-names
    $trX = startX + sum_trX($i)
    #in-{veg}
      for other_veg in veg-names
        if veg == other_veg
          &:checked ~ .container #img-{other_veg}
            transform: rotateY(0) translateX(startX) scale(1.5)
        else
          $trX -= 30 + 10 * abs($i - $j)
          &:checked ~ .container #img-{other_veg}
            translate($trX, $angleY)
          $angleY += angle_step
          if $angleY > angle_limit
            $angleY = - angle_limit
          $j += 1
    $angleY -= angle_step
    if $angleY < - angle_limit
      $angleY = angle_limit
    $i += 1
    startX -= stepX

start_settings()
set_animation()

.container
  transform-style: preserve-3d
  width: 100%
  text-align: center
  margin-top: 12em

.veg
  display: none

label
  position: relative
  display: inline-flex
  width: 13%
  height: 120px
  transition-property: transform
  transition-duration: .5s
  box-shadow: 0 1em 2em rgba(60, 63, 65, .78)
