#img-melon {
  background: url("https://pp.vk.me/c630125/v630125151/1ecc/wMTXhTawg8w.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#img-carrot {
  background: url("https://pp.vk.me/c630125/v630125151/1ed6/frqxQ6oR6Ho.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#img-watermelon {
  background: url("https://pp.vk.me/c630125/v630125151/1eec/daAy02g-Fhc.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#img-kiwi {
  background: url("https://pp.vk.me/c630125/v630125151/1ec2/xmTB7Eq0e38.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#img-cucumber {
  background: url("https://pp.vk.me/c630125/v630125151/1eb9/Zgg2HCd0yi4.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#img-pepper {
  background: url("https://pp.vk.me/c630125/v630125151/1ede/G-FVz0bas0c.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#img-tomato {
  background: url("https://pp.vk.me/c630125/v630125151/1ee5/R4k4jbruF2A.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
}
#in-melon:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(300%) scale(1.5);
}
#in-melon:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(270%) perspective(300px) rotateY(-40deg) translateZ(-40px);
}
#in-melon:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(230%) perspective(300px) rotateY(-35deg) translateZ(-40px);
}
#in-melon:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(180%) perspective(300px) rotateY(-30deg) translateZ(-40px);
}
#in-melon:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(120%) perspective(300px) rotateY(-25deg) translateZ(-40px);
}
#in-melon:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(50%) perspective(300px) rotateY(-20deg) translateZ(-40px);
}
#in-melon:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-30%) perspective(300px) rotateY(-15deg) translateZ(-40px);
}
#in-carrot:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(230%) perspective(300px) rotateY(40deg) translateZ(-40px);
}
#in-carrot:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(200%) scale(1.5);
}
#in-carrot:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(170%) perspective(300px) rotateY(-40deg) translateZ(-40px);
}
#in-carrot:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(130%) perspective(300px) rotateY(-35deg) translateZ(-40px);
}
#in-carrot:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(80%) perspective(300px) rotateY(-30deg) translateZ(-40px);
}
#in-carrot:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(20%) perspective(300px) rotateY(-25deg) translateZ(-40px);
}
#in-carrot:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-50%) perspective(300px) rotateY(-20deg) translateZ(-40px);
}
#in-watermelon:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(170%) perspective(300px) rotateY(35deg) translateZ(-40px);
}
#in-watermelon:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(130%) perspective(300px) rotateY(40deg) translateZ(-40px);
}
#in-watermelon:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(100%) scale(1.5);
}
#in-watermelon:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(70%) perspective(300px) rotateY(-40deg) translateZ(-40px);
}
#in-watermelon:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(30%) perspective(300px) rotateY(-35deg) translateZ(-40px);
}
#in-watermelon:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(-20%) perspective(300px) rotateY(-30deg) translateZ(-40px);
}
#in-watermelon:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-80%) perspective(300px) rotateY(-25deg) translateZ(-40px);
}
#in-kiwi:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(120%) perspective(300px) rotateY(30deg) translateZ(-40px);
}
#in-kiwi:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(70%) perspective(300px) rotateY(35deg) translateZ(-40px);
}
#in-kiwi:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(30%) perspective(300px) rotateY(40deg) translateZ(-40px);
}
#in-kiwi:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(0%) scale(1.5);
}
#in-kiwi:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(-30%) perspective(300px) rotateY(-40deg) translateZ(-40px);
}
#in-kiwi:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(-70%) perspective(300px) rotateY(-35deg) translateZ(-40px);
}
#in-kiwi:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-120%) perspective(300px) rotateY(-30deg) translateZ(-40px);
}
#in-cucumber:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(80%) perspective(300px) rotateY(25deg) translateZ(-40px);
}
#in-cucumber:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(20%) perspective(300px) rotateY(30deg) translateZ(-40px);
}
#in-cucumber:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(-30%) perspective(300px) rotateY(35deg) translateZ(-40px);
}
#in-cucumber:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(-70%) perspective(300px) rotateY(40deg) translateZ(-40px);
}
#in-cucumber:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(-100%) scale(1.5);
}
#in-cucumber:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(-130%) perspective(300px) rotateY(-40deg) translateZ(-40px);
}
#in-cucumber:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-170%) perspective(300px) rotateY(-35deg) translateZ(-40px);
}
#in-pepper:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(50%) perspective(300px) rotateY(20deg) translateZ(-40px);
}
#in-pepper:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(-20%) perspective(300px) rotateY(25deg) translateZ(-40px);
}
#in-pepper:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(-80%) perspective(300px) rotateY(30deg) translateZ(-40px);
}
#in-pepper:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(-130%) perspective(300px) rotateY(35deg) translateZ(-40px);
}
#in-pepper:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(-170%) perspective(300px) rotateY(40deg) translateZ(-40px);
}
#in-pepper:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(-200%) scale(1.5);
}
#in-pepper:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-230%) perspective(300px) rotateY(-40deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-melon {
  transform: rotateY(0) translateX(30%) perspective(300px) rotateY(15deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-carrot {
  transform: rotateY(0) translateX(-50%) perspective(300px) rotateY(20deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-watermelon {
  transform: rotateY(0) translateX(-120%) perspective(300px) rotateY(25deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-kiwi {
  transform: rotateY(0) translateX(-180%) perspective(300px) rotateY(30deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-cucumber {
  transform: rotateY(0) translateX(-230%) perspective(300px) rotateY(35deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-pepper {
  transform: rotateY(0) translateX(-270%) perspective(300px) rotateY(40deg) translateZ(-40px);
}
#in-tomato:checked ~ .container #img-tomato {
  transform: rotateY(0) translateX(-300%) scale(1.5);
}
.container {
  transform-style: preserve-3d;
  width: 100%;
  text-align: center;
  margin-top: 12em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
.veg {
  display: none;
}
label {
  position: relative;
  display: inline-block;
  width: 12.5%;
  height: 140px;
  transition-property: transform;
  transition-duration: 0.5s;
  box-shadow: 0 1em 2em rgba(60,63,65,0.78);
}
/*# sourceMappingURL=animation.css.map */
